.login-card {
    width: 400px;
    margin: 8% auto;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.mat-card-title{
    font-size: 16px;
    
}

